<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p> -->
<div class="ask-container">
  <div class="ask-header">
    <p>ASK YOUR COACH ANYTHING...</p>
  </div>
  <div class="form-container">
    <form action="/answer" method="get">
      <input type="text" name="question" placeholder="ask away...">
      <input type="submit" class="btn" value="ASK!">
    </form>
  </div>
</div>

